.pokemon {
  position: relative;
  height: 10rem;
  width: 10rem;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50% );
  border-radius: 50%;
  border: 0.8rem solid black;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: '';
  position: absolute;
  height: 0.8rem;
  width: 10rem;
  background: black;
  top: 5rem;
  right: 0;
  transform: translatey(-50%);
}

.pokemon::after {
  content: '';
  position: absolute;
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  background: white;
  top: 5rem;
  left: 5rem;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 0.8rem black, inset 0 0 0 1rem white, inset 0 0 0 1.2rem black;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
