@import "../../abstaracts/_constant.scss";
.pokemon {
  position: relative;
  height: 10rem;
  width: 10rem;
  background: linear-gradient(to bottom, $color-loader-red, $color-primary 50% );
  border-radius: 50%;
  border: 0.8rem solid $color-loader-black;
  animation: spin 1s linear infinite;
}

.pokemon::before {
  content: '';
  position: absolute;
  height: 0.8rem;
  width: 10rem;
  background: $color-loader-black;
  top: 5rem;
  right: 0;
  transform: translatey(-50%);
}

.pokemon::after {
  content: '';
  position: absolute;
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  background: $color-primary;
  top: 5rem;
  left: 5rem;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 0 0 0.8rem $color-loader-black, inset 0 0 0 1rem $color-primary, inset 0 0 0 1.2rem $color-loader-black;

}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
