.button {
  border-radius: 10px;
  color: white;
  margin-left: 4rem;
  @media screen and (max-width: 768px) {
    margin-left: 1rem;
  }
}
.button.contained {
  background-color: #2F63AA;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
}
.button.round {
  border-radius: 50%;
  height: 45px;
  background-color:  #2F63AA;
  border: none;
}
.button.round:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  &:hover{
    background-color: #ccc;
  }
}
.button.round:hover  {
  border-radius: 50%;
  height: 45px;
  background-color: #1C2C5C;
}
.button.contained:hover {
  background-color: #1C2C5C;
}
.button.outlined {
  background-color: transparent;
  border: 2px solid #b392ac;
  cursor: pointer;
  padding: 8px 18px;
}
.button.outlined:hover {
  background-color: #827FB2;
}
.button.outlined:disabled {
  background-color: #ccc;
  color: #999;
  border: 2px solid #999;
  cursor: not-allowed;
}
.button.contained:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}
