.pokemon {
  margin: 2rem;
  background-color: #eeeef6;
  border: 0.05rem solid #838080;
  color: #838080;
  font-weight: bold;
  transition: transform 0.3s ease-out;
  position: relative;
  text-align: center;

  &:hover {
    transform: scale(1.05);
  }
}

.like {
  position: absolute;
  top: 2.5rem;
  right: 4rem;
}

.image {
  border-radius: 50%;
  background-color: white;
}

.main {
  background-color: white;;
  background-repeat: repeat;
  height: 100vh;
}

.pokemons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin: 0 auto;
}
.favouritePokemons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto;
  padding: 3rem;
  max-width: 1280px;
  @media screen and (max-width: 1439px) {
    grid-template-columns: repeat(3,1fr);
  }
  @media screen and (max-width: 1036px) {
    grid-template-columns: repeat(2,1fr);
  }
  @media screen and (max-width: 750px) {
    grid-template-columns: repeat(1,1fr);
  }
}

.remove {
  font-size: 1.6rem;
  text-decoration: underline;
  cursor: pointer;
}

.message {
  color: #838080;
  text-align: center;
  margin-top: 10rem;
}
