.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    place-items: center;
    .firstItem {
      grid-column: 1 / 4;
    }
  }

}

.label {
  width: 10rem;
  height: 7rem;
  padding: 0.16rem;
}

.link {
  color: #838080;
  font-weight: bold;
  font-size: 2rem;
  padding-right: 1rem;
  &:hover {
    color: #2F63AA;
  }
}

.container {
  background-color: white;
  max-width: 1280px;
  margin: 6rem auto 0 auto;
  padding: 1.6rem 0 3.2rem 0;
  text-align: center;
}

.main {
  background-color: white;;
  background-repeat: repeat;
}

.grid {
  margin-bottom: 3.2rem;
  min-height: 450px;
}

.loader {
  display: flex;
  justify-content: center;
  width: 1280px;
  margin: 4.8rem auto 0;
  padding: 3.2rem 0 3.2rem 0;
  height: 40vh;
}
