$color-primary:#FFFFFF;
$color-button:#2F63AA;
$color-background-disabled:#ccc;
$color-text:#999;
$color-button-hover:#1C2C5C;
$color-button-border:#b392ac;
$color-button-outlined-hover:#827FB2;
$color-input-border:#4F3D20;
$color-text-secondary:#838080;
$color-background:#eeeef6;
$color-item-border:#646161;
$color-loader-red:rgb(254, 0, 1) 50%;
$color-loader-black:#000000;


$color-background-white:#FFFFFF;
$color-background-brown:#211F20;
$color-link-normal:#CDCDCD;
$color-link-active-hover:#FAFAFA;

$color-header-main:#FFFFFF;
$color-header:#545454;



